body {
        background:linear-gradient(45deg,blueviolet,deeppink);
      }
.registration-div{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,deeppink,blueviolet);
    width: 300px;
    color: aliceblue;
    margin:50px auto;
    padding: 20px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;


}
.registration-div h2{
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
.form-group label{
    display: block;
    margin: 10px 0;
}
.form-control{
    font-size: 18px;
    height: 35px;
    border: none;
    width: 290px;
    border-radius: 10px;
}
.submit-class{
    margin: 15px 0;
    background: linear-gradient(45deg,blueviolet,deeppink);
    color:aliceblue; 
    font-size: 20px;
    padding:12px 5px;
    width: 290px;
    border: none;
    box-shadow:  0 5px  10px black;
                  

}